@model List<RentReview.Models.ViewModels.Property.ViewPropertyViewModel>

<form method="POST">
    <h1 style="text-align:center; margin-left:795px; font-size:larger">Select from the desired filters!</h1>

    <div style="width:300px; height:30px;margin-top:15px; margin-left:800px">
        <table style="margin-left:50px">
            <ul class="list-group">

            <tr>
                <td align="center">Min Price</td>
                <td align="center">Max Price</td>
            </tr>

            <tr>
                    @{
                        var minPrices = Model.First().MinPrices;
                        var maxPrices = Model.First().MaxPrices;
                    <td>
                            @foreach (var minPrice in minPrices)
                            {
                            <li class="list-group-item">
                                <input type="radio" id="MinPrice" name="MinPrice" value=@minPrice>
                                <label for="MinPrice">@minPrice</label><br>
                            </li>
                            }
                    </td>
                    <td>
                            @foreach (var maxPrice in maxPrices)
                            {
                            <li class="list-group-item">
                                <input type="radio" id="MaxPrice" name="MaxPrice" value=@maxPrice>
                                <label for="MaxPrice">@maxPrice</label><br>
                            </li>
                            }
                    </td>
                    }
            </tr>

            </ul>
        </table>

        <div style="margin-top:10px">
            <form>
                <div class="multipleSelection">
                    <div class="selectBox"
                         onclick="showCheckboxes()">
                        <select>
                            <option>Select Extras</option>
                        </select>
                        <div class="overSelect"></div>
                    </div>

                    <div id="checkBoxes">
                        @{
                            var extras = Model.First().Extras;
                            @foreach (var extra in extras)
                            {
                                <label for="Extras" id="Extras">
                                    <input type="checkbox" id="Extras" name="Extras" />@extra
                                </label>
                            }
                        }
                    </div>
                </div>
            </form>
        </div>



        <div style="margin-top:10px">
            <form>
                <div class="multipleSelection">
                    <div class="selectBox"
                         onclick="showCheckboxes2()">
                        <select>
                            <option>Select Extras</option>
                        </select>
                        <div class="overSelect"></div>
                    </div>

                    <div id="checkBoxes2">
                        @{
                            var extrass = Model.First().Extras;
                            @foreach (var extra in extrass)
                            {
                                <label for="Extras" id="Extras">
                                    <input type="checkbox" id="Extras" name="Extras" />efga
                                </label>
                            }
                        }
                    </div>
                </div>
            </form>
        </div>


        <table style="margin-left:50px">
            <ul class="list-group" style="margin-top:10px">

            <tr>
                <td align="center">Countries</td>
                <td align="center">Cities</td>
            </tr>

            <tr>
                    @{
                        var Countries = Model.First().Countries;
                        var Cities = Model.First().Cities;
                    <td>
                            @foreach (var country in Countries)
                            {

                            <li class="list-group-item">
                                <input type="checkbox" id="Country" name="Country" value="@country">
                                <label for="Country">@country</label><br>
                            </li>
                            }
                    </td>
                    <td>
                            @foreach (var city in Cities)
                            {
                            <li class="list-group-item">
                                <input type="checkbox" id="City" name="City" value="@city">
                                <label for="City">@city</label><br>
                            </li>
                            }

                    </td>
                    }
            </tr>

            </ul>
        </table>

        <button type="submit" class="btn btn-primary" style="margin-left:110px; margin-top:10px">Submit</button>
    </div>
</form>


<div class="row">
    @foreach (var property in Model)
    {
        <div class="card mb-3" style="max-width: 700px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="@property.Picture" class="img-fluid rounded-start">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@property.Country, @property.City - @property.Price $</h5>
                        @if (!property.HasReview)
                        {
                            <a href="/Review/Add?Id=@property.Id" id="AddReviewButton" class="btn btn-primary">Add Review</a>
                        }
                        else
                        {
                            <a href="/Review/ViewReview?Id=@property.ReviewId" id="AddReviewButton" class="btn btn-primary">See Review</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<link rel="stylesheet" href="~/css/Property/All.css"></link>
<link rel="stylesheet" href="~/css/Property/selectExtras.css"></link>
<script src="~/js/selectBoxes.js"></script>

