@model RentReview.Models.ViewModels.Review.ViewFullReviewViewModel

<img src="@Model.Picture" />

<form method="post">
    <div class="info">
        <div class="card">
            <h5 class="card-header">Property Info</h5>

            <label class="form-label" for="Rented">Rented</label>
            <input type="date" class="form-control" id="Rented" name="Rented" value="@Model.Rented">

            <label class="form-label" for="Vacated">Vacated</label>
            <input type="date" class="form-control" id="Vacated" name="Vacated" value="@Model.Vacated">

        </div>
    </div>

    <div class="pros">
        <div class="card">
            <h5 class="card-header">Pros</h5>
            <ul class="list-group">
                <ul class="list-group">

                    @for (int i = 0; i < RentReview.Common.Lists.GetPros().Count(); i++)
                    {
                        if (Model.Pros.ToList().Contains(RentReview.Common.Lists.GetPros()[i]))
                        {
                            <li class="list-group-item">
                                <input type="checkbox" id="Pros" name="Pros" value="@RentReview.Common.Lists.GetPros()[i]" checked>
                                <label for="Pros">@RentReview.Common.Lists.GetPros()[i]</label><br>
                            </li>
                        }

                        else
                        {
                              <li class="list-group-item">
                                <input type="checkbox" id="Pros" name="Pros" value="@RentReview.Common.Lists.GetPros()[i]">
                                <label for="Pros">@RentReview.Common.Lists.GetPros()[i]</label><br>
                            </li>
                        }
                    }
                 
                </ul>
            </ul>
        </div>
    </div>

    <div class="cons">
        <div class="card">
            <h5 class="card-header">Cons</h5>
            <ul class="list-group">

                @for (int i = 0; i < RentReview.Common.Lists.GetCons().Count(); i++)
                    {
                        if (Model.Cons.ToList().Contains(RentReview.Common.Lists.GetCons()[i]))
                        {
                            <li class="list-group-item">
                            <input type="checkbox" id="Cons" name="Cons" value="@RentReview.Common.Lists.GetCons()[i]" checked>
                            <label for="Cons">@RentReview.Common.Lists.GetCons()[i]</label><br>
                            </li>
                        }

                        else
                        {
                              <li class="list-group-item">
                            <input type="checkbox" id="Cons" name="Cons" value="@RentReview.Common.Lists.GetCons()[i]">
                            <label for="Cons">@RentReview.Common.Lists.GetCons()[i]</label><br>
                            </li>
                        }
                    }

            </ul>
        </div>
    </div>

    </div>

    <div class="reviews" style="margin-left:70px;">

        <div class="neighbour" id="reviewBox">
            <div class="card">
                <h5 class="card-header">Review of neighbour</h5>
                <div class="card-body">
                    <label class="form-label" for="NeighbourReview"></label>
                    <input type="text" class="form-control" id="NeighbourReview" name="NeighbourReview" value="@Model.ReviewOfNeighbour">
                </div>
            </div>
        </div>

        <div class="property" id="reviewBox">
            <div class="card">
                <h5 class="card-header">Review of property</h5>
                <div class="card-body">
                    <label class="form-label" for="PropertyReview"></label>
                    <input type="text" class="form-control" id="PropertyReview" name="PropertyReview" value="@Model.ReviewOfProperty">
                </div>
            </div>
        </div>

        <div class="landlord" id="reviewBox">
            <div class="card">
                <h5 class="card-header">Review of landlord</h5>
                <div class="card-body">
                    <label class="form-label" for="LandlordReview"></label>
                    <input type="text" class="form-control" id="LandlordReview" name="LandlordReview" value="@Model.ReviewOfLandlord">
                </div>
            </div>
        </div>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>

<link rel="stylesheet" href="~/css/Review/Edit.css">