@model RentReview.Models.ViewModels.ViewFullReviewViewModel

<img src="@Model.Picture" />

<div class="info">
    <div class="card">
        <h5 class="card-header">Property Info</h5>
        <ul class="list-group">
            <li class="list-group-item">Price - @Model.Price</li>
            <li class="list-group-item">Rented from @Model.Rented.Value.ToShortDateString() to @Model.Vacated.Value.ToShortDateString()</li>
            <li class="list-group-item">@Model.Address</li>
            <li class="list-group-item"> <a href="@Model.Url" class="btn btn-primary"> Go to Add</a></li>
        </ul>
    </div>
</div>

<div class="pros">
    <div class="card">
        <h5 class="card-header">Pros</h5>
        <ul class="list-group">
            @foreach (var pro in Model.Pros)
            {
                <li class="list-group-item">@pro</li>
            }
        </ul>
    </div>
</div>

<div class="cons">
    <div class="card">
        <h5 class="card-header">Cons</h5>
        <ul class="list-group">
            @foreach (var con in Model.Cons)
            {
                    <li class="list-group-item">@con</li>
            }
        </ul>
    </div>
</div>

</div>

<div class="reviews" style="margin-left:70px;">

    <div class="neighbour" id="reviewBox">
        <div class="card">
            <h5 class="card-header">Review of neighbour</h5>
            <div class="card-body">
                <h5 class="card-title">@Model.ReviewOfNeighbour</h5>
            </div>
        </div>
    </div>

    <div class="property" id="reviewBox">
        <div class="card">
            <h5 class="card-header">Review of property</h5>
            <div class="card-body">
                <h5 class="card-title">@Model.ReviewOfProperty</h5>
            </div>
        </div>
    </div>

    <div class="landlord" id="reviewBox">
        <div class="card">
            <h5 class="card-header">Review of landlord</h5>
            <div class="card-body">
                <h5 class="card-title">@Model.ReviewOfLandlord</h5>
            </div>
        </div>
    </div>

</div>

<link rel="stylesheet" href="~/css/Review/View.css"></link>